<nz-content class="content">
    <div class="inner-content vgroup">
        <div class="hgroup">
            <div class="vgroup">
                <div class="f1">
                    <nz-card nzHoverable [nzCover]="lastPostTemplate">
                        <nz-card-meta [nzTitle]="lastPost.name" [nzDescription]="lastPost.abstract"></nz-card-meta>

                        <div class="hgroup margin-vertical">
                            <div *ngFor="let tag of lastPost.tags" class="margin-rigth">
                                <nz-tag nzMode="default" [nzChecked]="tag.checked">
                                    #{{ tag.name }}
                                </nz-tag>
                            </div>
                        </div>
                    </nz-card>

                    <ng-template #lastPostTemplate>
                        <img [alt]="lastPost.imageDescription" [src]="lastPost.imageSource" />
                    </ng-template>
                </div>

                <div class="read-more">
                    <h1>Posts mais recentes</h1>
                    <nz-divider></nz-divider>
                </div>

                <nz-list [nzDataSource]="posts" [nzItemLayout]="'vertical'" [nzRenderItem]="post"
                    [nzPagination]="pagination">
                    <ng-template #post let-post>
                        <nz-list-item [nzContent]="post.content" [nzActions]="[starAction, likeAction, msgAction]"
                            [nzExtra]="extra">
                            <ng-template #starAction><i nz-icon nzType="star" nzTheme="fill" style="margin-right: 8px; color: #F7B32B;"></i> 156
                            </ng-template>

                            <ng-template #likeAction><i nz-icon nzType="like" nzTheme="fill" style="margin-right: 8px; ; color: #4C9F70;"></i> 156
                            </ng-template>

                            <ng-template #msgAction><i nz-icon nzType="message" nzTheme="fill" style="margin-right: 8px; color: #235789;"></i> 2
                            </ng-template>

                            <nz-list-item-meta [nzAvatar]="post.avatar" [nzTitle]="nzTitle"
                                [nzDescription]="post.description">
                                <ng-template #nzTitle><a href="{{ post.href }}">{{ post.title }}</a></ng-template>
                            </nz-list-item-meta>

                            <ng-template #extra>
                                <img width="272" alt="logo" [src]="post.imageSource" />
                            </ng-template>
                        </nz-list-item>
                    </ng-template>

                    <ng-template #pagination>
                        <nz-pagination [nzPageIndex]="1" [nzTotal]="50" (nzPageIndexChange)="loadData($event)">
                        </nz-pagination>
                    </ng-template>
                </nz-list>
            </div>

            <div class="f1 margin-horizontal left-side-menu">
                <nz-tree [nzData]="categories" nzShowLine (nzClick)="nzEvent($event)"></nz-tree>
            </div>
        </div>
    </div>
</nz-content>