<nz-content class="content">
    <div class="inner-content vgroup">
        <div class="hgroup">
            <div class="vgroup">
                <div class="f1">
                    <nz-card [nzCover]="postTemplate">
                        <nz-card-meta [nzTitle]="post.name" [nzDescription]="post.abstract"></nz-card-meta>

                        <div class="hgroup margin-vertical">
                            <div *ngFor="let tag of post.tags" class="margin-rigth">
                                <nz-tag nzMode="default" [nzChecked]="tag.checked">
                                    #{{ tag.name }}
                                </nz-tag>
                            </div>
                        </div>

                        {{ post.text }}
                    </nz-card>

                    <ng-template #postTemplate>
                        <img [alt]="post.imageDescription" [src]="post.imageSource" />
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</nz-content>