<!-- Swall confirm -->
<swal #swal [showConfirmButton]="false" [showCancelButton]="false" [allowOutsideClick]="dismissible"
  (cancel)="sendAnswer(true)">

  <!-- content -->
  <div class="vgroup text-align-center" *swalPartial="swalTargets.content">

    <!-- title -->
    <div>
      <strong class="title-text bold"> {{ swalOptions.title }} </strong>
    </div>

    <!-- content -->
    <div class="f1 d-flex justify-content-center align-items-flex-start padding min-height-100px">
      <span class="font-size-15px">
        {{ swalOptions.content }}
      </span>
    </div>

    <!-- button -->
    <div class="d-flex justify-content-center align-items-center">
      <a class="button-sweet primary" (click)="close()">
        {{ swalOptions.button }}
      </a>
    </div>

  </div>

</swal>
