.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

.logo {
  height: 32px;
  // background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 24px 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.header {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #171717;
  min-height: 10vh!important;
}

.logo-header {
  z-index: 1 !important;
  margin: 0 !important;
  height: 6vh !important;
  width: auto !important;
  margin-left: 10px!important;
}

.user-badge {
  margin-top: 8px;
}
