<nz-layout class="layout">
	<nz-sider (clickOutside)="onClickOutsideMenu()" *ngIf="showMenu" nzCollapsible [(nzCollapsed)]="isCollapsed"
		[nzCollapsedWidth]="0">
		<div class="logo">
			<img class="logo-header" [src]="headerLogo" (mouseenter)="headerLogo = 'assets/logo_h_o.png'"
				(mouseleave)="headerLogo = 'assets/logo_h.png'" />
		</div>

		<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
			<li nz-menu-item (click)="goHome()">
				<i nz-icon nzType="home" nzTheme="outline"></i>

				<span>Home</span>
			</li>

			<!-- <li *ngIf="authService.isLoggedIn && this.authService.isAuthorized; else blogUnlogged" nz-submenu
				nzTitle="Blog" nzIcon="form">
				<ul>
					<li nz-menu-item (click)="goBlogRegister()">Cadastrar</li>
					<li nz-menu-item (click)="goBlogView()">Visualizar</li>
				</ul>
			</li> -->

			<!-- <ng-template #blogUnlogged>
				<li nz-menu-item (click)="goBlogView()">
					<i nz-icon nzType="form" nzTheme="outline"></i>

					<span>Blog</span>
				</li>
			</ng-template> -->
		</ul>
	</nz-sider>

	<nz-layout>
		<nz-header class="header" *ngIf="!authService.isLoggedIn && showMenu; else headerLogged">
			<!-- <button nz-button nzType="danger" nzShape="round" (click)="login()">
				<i nz-icon nzType="login"></i>Login
			</button> -->
		</nz-header>

		<ng-template #headerLogged>
			<nz-header *ngIf="showMenu" class="header">
				<img class="logo-header" [src]="headerLogo" (mouseenter)="headerLogo = 'assets/logo_h_o.png'"
					(mouseleave)="headerLogo = 'assets/logo_h.png'" />

				<!-- <nz-avatar nzSize="large" nzIcon="user" [nzSrc]="authService.user?.photoURL" nz-dropdown
					[nzDropdownMenu]="userOptions" class="user-avatar">
				</nz-avatar>

				<nz-dropdown-menu #userOptions="nzDropdownMenu">
					<ul nz-menu>
						<li nz-menu-item class="dropdown-user-item">
							<i nz-icon nzType="user" nzTheme="outline"></i>
							{{ authService.user?.displayName ? authService.user?.displayName : 'Usuário' }}
						</li>

						<li nz-menu-item class="dropdown-user-item">
							<i nz-icon nzType="mail" nzTheme="outline"></i>
							{{ authService.user?.email }}
						</li>

						<li nz-menu-divider></li>

						<li nz-menu-item (click)="authService.logout()" class="dropdown-logout-item">
							<i nz-icon nzType="logout" nzTheme="outline"></i>
							Sair
						</li>
					</ul>
				</nz-dropdown-menu> -->
			</nz-header>
		</ng-template>

		<nz-content>
			<router-outlet></router-outlet>
		</nz-content>

		<nz-footer *ngIf="showMenu">
			Made with

			<i nz-icon style="color: hotpink;">
				<svg>
					<path
						d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z" />
				</svg>
			</i>

			by Marcio Câmara ©2019 Implement By Angular
		</nz-footer>
	</nz-layout>
</nz-layout>

<ng-template #zeroTrigger style="margin-top: 30px">
	<i nz-icon nzType="menu-fold" nzTheme="outline"></i>
</ng-template>