.inner-content,
.container {
  justify-content: center;
  display: flex;
}

.presentation-image {
  width: 20%;
  border-radius: 50%;
  cursor: pointer;
}

.about {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 1s;
}

.about-container {
  min-width: 75%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.description-container {
  max-width: 100vw !important;
  padding: 0 52px !important;
}

.description-text {
  margin-top: 1.5rem;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.275;
  color: rgba(0, 0, 0, 0.45);
}

nz-tag {
  margin-top: 5px;
}

.rubber-duck-debugging:hover {
  background-color: orange !important;
}

.curriculum-paragraph {
  margin-bottom: 0;
}

.curriculum-subtitle {
  margin-top: 1em;
  margin-bottom: 0;
}

@media only screen and (max-width: 970px) {
  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100vw;

    .card-skills {
      flex: 0 0 auto;
      width: 80vw !important;
    }

    .card-jobs {
      flex: 0 0 auto;
      width: 80vw !important;
    }
  }
}
