/* You can add global styles to this file, and also import other style files */
@import "src/app/styles/flex-utils.scss";
@import "src/app/styles/float-elements.scss";
@import "src/app/styles/margin.scss";
@import "src/app/styles/padding.scss";
@import "src/app/styles/text-alignment.scss";
@import "src/app/styles/text-transformation.scss";
@import "src/app/styles/themes.scss";

/* Others */
.container {
  padding: $padding;
}

body {
  font-size: 15px;
}

.no-border {
  border: none !important;
}

.no-shadow {
  box-shadow: none !important;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
  height: auto;
}

nz-footer {
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: space-around;
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}

.nz-card-home {
  width: 100%;
  margin-top: 16px;
  min-height: 430px;
  display: flex;
  flex-direction: column;
}

.nz-card-body,
.ant-card-body {
  flex: 1 !important;
}

nz-page-header {
  border: 1px solid rgb(235, 237, 240);
}

.wrap {
  display: flex;
}

.content {
  flex: 1;
}

.content p {
  margin-bottom: 8px;
}

.components-table-demo-control-bar {
  margin-bottom: 12px;
}

.nz-form-item {
  margin-right: 16px;
  margin-bottom: 8px;
}

[nz-form] {
  // max-width: 600px;
  min-width: 100%;
}

button {
  margin-left: 8px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 75vh;
  height: 100%;
  width: 100%;
}

.content {
  margin: 0 16px;
  height: 100%;
}

.menu span,
.menu i {
  font-size: medium;
}

.header {
  border-bottom: 1px solid #ebedf0;
}

.ant-page-header-heading {
  display: flex !important;
  align-items: center !important;
}

.ant-avatar {
  width: 24px !important;
  height: 24px !important;
}

.button {
  cursor: pointer;
}

.block {
  border: 1px solid #ebedf0;
  padding: 16px 24px;
  margin: 5px 0;
  display: flex;
}

.hgroup {
  display: flex;
  flex-direction: row;
}

.vgroup {
  display: flex;
  flex-direction: column;
}

.f1 {
  flex: 1;
}

.pending-icon {
  color: darkgoldenrod !important;
}

.done-icon {
  color: darkgreen !important;
}

.pending-icon {
  color: darkgoldenrod !important;
}

.delete-icon {
  color: crimson !important;
}

.yes-icon {
  color: darkgreen !important;
}

.not-icon {
  color: crimson !important;
}

.table-header tr th {
  font-weight: bold !important;
}

textarea {
  resize: none !important;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ant-calendar-picker {
  width: 100%;
}

.ant-typography {
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
}

.left-side-menu {
  max-width: 150px;
}

nz-layout {
  min-height: 100vh !important;
}

.affix-social {
  position: absolute;
  top: 15vh;
  right: 2vw;
}

.affix-chatbot {
  position: absolute;
  bottom: -50vh;
  right: 2vw;
}

.affix-chatbot button {
  width: 5vw;
  height: 7vh;
}

.w100 {
  width: 100% !important;
}

.button-social-media {
  margin: 5px;
}

.truncateLines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.dropdown-user-item {
  background-color: #fff !important;
  cursor: default !important;
}

.dropdown-logout-item:hover {
  background-color: #ccc !important;
}
